<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test for Sample Application">
	<test name="Testcase for Login">
		<classes>
			<class name="com.kony.appiumtests.tests.FrmLoginTest" />
		</classes>
	</test>
	<test name="Testcase for Logout">
		<classes>
			<class name="com.kony.appiumtests.tests.FrmLogoutTest" />
		</classes>
	</test>
</suite>