<?xml version="1.0" encoding="UTF-8"?>
<suite name="AdminConsole" parallel="none">
	<test name="AdminConsole_Smoke_Web">
		<classes>
			<class name="com.kony.adminConsole.tests.LoginModule" />
			<methods>
			<!--<include name="LoginWithEmptyFields" />
								<include name="LoginWithEmptyPwdField" />
								<include name="LoginWithWrongPassword" /> 
				
			
							<include name="test" />
							<include name="LoginWithEmptyPwdField" />
			<include name="LoginWithWrongPassword" /> 
								<include name="LoginWithEmptyFields" />
								<include name="LoginWithEmptyPwdField" />
								<include name="LoginWithWrongPassword" /> 
								<include name="suspendAUser" />
								
			<include name="sessionExpiry" />
			<include name="rememberMeEnabled" />
			<include name="rememberMeDisabled" />
			<include name="resetPasswordAfterLogin" />
			<include name="resetPasswordForAExpiredUser" />
			<include name="login" />-->
								<include name="HeadlessChromeDriverTest" />
			</methods>

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
